* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100%;
    /* display: flex; */
}

nav {
    display: block;
    padding: 10px 10px 30px 10px;

    & * {
        float: right;
        width: 50px;
        height: 50px;

        text-align: center;
        align-content: center;
        justify-content: center;
        align-items: center;

        text-decoration: none;
        color: white;
    }

    & #profile, & #logo {
        float: left;
    }

    & #new {
        background-color: black;
        border-radius: 100%;
    }
}

#profile img {
    width: 50px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

#logo {
    color: black;
    padding: 0 25px;
    display: inline;
}

@media only screen and (max-width: 500px) {
    #logo {
        display: none;
    }
}

main { 
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

    align-self: center;
    padding-top: 20px
}