html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: Helvetica Neue, Arial, sans-serif;
    color: #fff;
    overflow: hidden;
}

.menu {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 46px;
    width: 46px;
}

.menu-link {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1002;
}

.menu-icon {
    position: absolute;
    width: 20px;
    height: 14px;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 1px;
}

.menu-circle {
    background-color: #000000;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    transform: scale(1);
    z-index: 1000;
    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.menu-overlay {
    background-color: #ffffff;
    color: #1f1f1f;
    height: 100%;
    width: 100%;
    position: fixed;
    text-align: center;
    transition: opacity 0.2s ease-in-out;
    z-index: 1001;
    opacity: 0;
    visibility: hidden;
}

.menu-overlay.open {
    opacity: 1;
    visibility: visible;
}

.menu-overlay a {
    color: #1b1b1b;
    font-weight: 600;
    font-size: 3em;
    padding: 2%;
    margin:  25% 1% 0;
    display: inline-block;
    text-decoration: none;
}

.menu-line {
    background-color: #ffffff;
    height: 2px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    left: 0;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.icon{
    aspect-ratio: 1/1;
    width: 2vw;
}
/*хикса става черен като се отвори менюто*/
.menu.open .menu-line {
    background-color: #000000;
}
/*---------------------------------------*/

.menu-line-1 {
    top: 0;
}
.menu-line-2 {
    top: 0;
    bottom: 0;
    margin: auto;
}
.menu-line-3 {
    bottom: 0;
}

.menu:hover .menu-circle {
    transform: scale(1.4);
}

.menu.open .menu-circle {
    transform: scale(60);
}

.menu.open .menu-line-2 {
    opacity: 0;
}

.menu.open .menu-line-1 {
    transform: translateY(7px) translateY(-50%) rotate(-135deg);
}
.menu.open .menu-line-3 {
    transform: translateY(-7px) translateY(50%) rotate(135deg);
}

/*reponsive*/
@media  (width < 600px) {
    .menu-overlay{
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
        font-weight: 300;
    }
    .icon{
        width: 7vw;
    }
}