/*main*/
.register-box{
    width: fit-content;
    height: fit-content;
    
    background-color: var(--color1);
    border-radius: 30px;
    
    align-self: center;
    justify-self: center;

    margin: 7%;
    padding: 5%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-size: 2.4em;
    

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

form {
    display: flex;
    flex-direction: column;
}
.register-box p a{
    text-decoration: none;
    color: var(--color3);
}
.register-box form input{
    border: none;
    border-radius: 30px;
    padding: 5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 5%;
    margin-bottom: 5%;
    
    height: 70px;
    
    font-size: 2rem;
    font-weight: 200;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
/*submit button*/
#loginSubmit , #registerSubmit{
    background-color: var(--color3);
    color: white;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: 400;
}
/*reponsive*/
@media (max-width: 610px) {
    .register-box {
        padding: 4%;
        font-size: 2em;
    }
}

@media (max-width: 580px) {
    .register-box {
        padding: 3%;
        font-size: 1.6em;
    }
}